<div class="container-fluid most-sold-products">

  <div class="inner-container">
  <div class="row px-4">
    <h1 style="color: white ; font-weight: bold ; text-shadow: 0 0 10px ; padding: 10px " >Most sold products!  </h1>
    <app-product class="col-md-3" ></app-product>
    <app-product class="col-md-3 "></app-product>
    <app-product class="col-md-3 "></app-product>
    <app-product class="col-md-3 "></app-product>
<!--    <div class="card-container">-->
<!--      <div class="card">-->
<!--        <img src="assets/img/card.jpg" alt="Product 1">-->
<!--        <br>-->
<!--        <h3 style="color: white ; font-weight: bold" >Harmony 510</h3>-->
<!--        <p style="color: white ; font-weight: bold">One-touch simplicity for your home entertainment.</p>-->
<!--        <a href="#" style="color: white ; font-weight: bold" >Order Now</a>      </div>-->

<!--      <div class="card">-->
<!--        <img src="assets/img/card.jpg" alt="Product 2">-->
<!--        <br>-->
<!--        <h3 style="color: white ; font-weight: bold" >Harmony 510</h3>-->
<!--        <p style="color: white ; font-weight: bold">One-touch simplicity for your home entertainment.</p>-->
<!--        <a href="#" style="color: white ; font-weight: bold" >Order Now</a>      </div>-->

<!--      <div class="card">-->
<!--        <img src="assets/img/card.jpg" alt="Product 3">-->
<!--        <br>-->
<!--        <h3 style="color: white ; font-weight: bold" >Harmony 510</h3>-->
<!--        <p style="color: white ; font-weight: bold">One-touch simplicity for your home entertainment.</p>-->
<!--        <a href="#" style="color: white ; font-weight: bold" >Order Now</a>-->
<!--      </div>-->

<!--      <div class="card">-->
<!--        <img src="assets/img/card.jpg" alt="Product 4">-->
<!--        <br>-->
<!--        <h3 style="color: white ; font-weight: bold" >Harmony 510</h3>-->
<!--        <p style="color: white ; font-weight: bold">One-touch simplicity for your home entertainment.</p>-->
<!--        <a href="#" style="color: white ; font-weight: bold" >Order Now</a>      </div>-->
<!--    </div>-->
  </div>
  </div>
</div>

