<body>
<br>
<main>
  <h2>Product Name</h2>
  <div>
  <div class="product-photos">
    <img class="large-photo" src="assets/img/tv1.jpg" alt="Product Image 1">
  </div>
  <div class="small-photos w-100 h-100 ">
    <img src="assets/img/tv2.jpg" alt="Product Image 2">
    <img src="assets/img/tv2.jpg" alt="Product Image 3">
    <img src="assets/img/tv2.webp" alt="Product Image 4">
  </div>
  </div>

  <div class="product-info">
    <p class="price">$99.99</p>


    <div class="rate">
      <p>Rating:</p>
      ★★★★☆
    </div>

    <div class="description">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et fringilla libero.</p>
    </div>
  </div>
  <div class="buttons">
    <button class="button wishlist">Add to Wishlist</button>
    <button class="button cart">Add to Cart</button>
  </div>
</main>
<br>
</body>


