<app-header></app-header>
<app-nav-bar></app-nav-bar>
<app-homeslider></app-homeslider>

<div class="container-xxxl">
  <div class="row">
    <h1>Produktet me te shitura</h1>
    <app-product class="col-12 col-md-2"></app-product>
    <app-product class="col-12 col-md-2"></app-product>
    <app-product class="col-12 col-md-2"></app-product>
    <app-product class="col-12 col-md-2"></app-product>
    <app-product class="col-12 col-md-2"></app-product>
  </div>
  <div class="p-5"></div>
  <div class="p-5"></div>
  <div class="p-5"></div>

  <div class="container-fluid">
    <div class="row">
      <app-product class="col-12 col-md-2"></app-product>
      <app-product class="col-12 col-md-2"></app-product>
      <app-product class="col-12 col-md-2"></app-product>
      <app-product class="col-12 col-md-2"></app-product>
      <app-product class="col-12 col-md-2"></app-product>
    </div>
</div>
  <div class="p-5"></div>
  <div class="p-5"></div>
  <div class="p-5"></div>
  <app-footer></app-footer>
</div>
