<app-header></app-header>
<body>
<br>
<div class="cont">
  <div class="form sign-in">
    <br>
    <h2>Welcome</h2>
    <br>
    <div>
      <div class="input-gr">
        <div class="label"> Email </div>
        <div class="input">
          <input  type="email" >
        </div>
      </div>


      <div class="input-gr">
        <div class="label"> Password </div>
        <div class="input">
          <input  type="password" >
        </div>
      </div>

    <p class="forgot-pass">Forgot password?</p>
    <button type="button" class="submit">Sign In</button>
  </div>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h3>Don't have an account? Please Sign up!</h3>
      </div>

      <div class="img__btn">
        <span class="m--up">Sign Up</span>
      </div>
    </div>

    </div>
  </div>

<br>
<app-footer></app-footer>
</body>

