<div class="container-fluid ">
  <div class="row g-2">
    <div class="col-md-3">
      <div class="t-products p-2 mt-5"><h6 class="text-uppercase">Computer & Periferals</h6>
        <div class="p-lists">
          <div class="d-flex justify-content-between mt-2"><span>Laptops</span> <span>23</span></div>
          <div class="d-flex justify-content-between mt-2"><span>Desktops</span> <span>46</span></div>
          <div class="d-flex justify-content-between mt-2"><span>Monitors</span> <span>13</span></div>
          <div class="d-flex justify-content-between mt-2"><span>Mouse</span> <span>33</span></div>
          <div class="d-flex justify-content-between mt-2"><span>Keyboard</span> <span>12</span></div>
          <div class="d-flex justify-content-between mt-2"><span>Printer</span> <span>53</span></div>
          <div class="d-flex justify-content-between mt-2"><span>Mobiles</span> <span>203</span></div>
          <div class="d-flex justify-content-between mt-2"><span>CPU</span> <span>23</span></div>
        </div>
      </div>
      <br>
      <div class="processor p-2">
        <div class="heading d-flex justify-content-between align-items-center"><h6 class="text-uppercase">Processor</h6>
          <span>--</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="1"> <label
            class="form-check-label" for="1"> Intel Core i7 </label></div>
          <span>3</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="2"
                                         checked> <label class="form-check-label" for="2"> Intel Core
            i6 </label></div>
          <span>4</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="3"
                                         checked> <label class="form-check-label" for="3"> Intel Core
            i3 </label></div>
          <span>14</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="4"
                                         checked> <label class="form-check-label" for="4"> Intel
            Centron </label></div>
          <span>8</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="5"
                                         checked> <label class="form-check-label" for="5"> Intel
            Pentinum </label></div>
          <span>14</span></div>
      </div>
      <br>
      <div class="brand p-2">
        <div class="heading d-flex justify-content-between align-items-center"><h6 class="text-uppercase">Brand</h6>
          <span>--</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="6"> <label
            class="form-check-label" for="6"> Apple </label></div>
          <span>13</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="7"
                                         checked> <label class="form-check-label" for="7"> Asus </label>
          </div>
          <span>4</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="8"
                                         checked> <label class="form-check-label" for="8"> Dell </label>
          </div>
          <span>24</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="9"
                                         checked> <label class="form-check-label" for="9">
            Lenovo </label></div>
          <span>18</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="10"
                                         checked> <label class="form-check-label" for="10"> Acer </label>
          </div>
          <span>44</span></div>
      </div>
      <br>
      <div class="type p-2 mb-2">
        <div class="heading d-flex justify-content-between align-items-center"><h6 class="text-uppercase">Type</h6>
          <span>--</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="11"> <label
            class="form-check-label" for="11"> Hybrid </label></div>
          <span>23</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="12"
                                         checked> <label class="form-check-label" for="12">
            Laptop </label></div>
          <span>24</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="13"
                                         checked> <label class="form-check-label" for="13">
            Desktop </label></div>
          <span>14</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="14"
                                         checked> <label class="form-check-label" for="14"> Touch </label>
          </div>
          <span>28</span></div>
        <div class="d-flex justify-content-between mt-2">
          <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="15"
                                         checked> <label class="form-check-label" for="15">
            Tablets </label></div>
          <span>44</span></div>
      </div>

    </div>
    <div class="col-md-9 p-5 ">
      <div class="row g-5">
        <div class="col-md-4">
          <div class="product py-4"><span class="off bg-success">-25% OFF</span>
            <div class="text-center"><img src="https://i.imgur.com/nOFet9u.jpg" width="200"></div>
            <div class="about text-center"><h5>XRD Active Shoes</h5> <span>$1,999.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4"><span class="off bg-warning">SALE</span>
            <div class="text-center"><img src="https://i.imgur.com/VY0R9aV.png" width="200"></div>
            <div class="about text-center"><h5>Hygen Smart watch </h5> <span>$123.43</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span> </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="product py-4">
            <div class="text-center"><img src="https://i.imgur.com/PSGrLdz.jpg" width="200"></div>
            <div class="about text-center"><h5>Acer surface book 2.5</h5> <span>$1,999.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4"><span class="off bg-success">-10% OFF</span>
            <div class="text-center"><img src="https://i.imgur.com/OdRSpXG.jpg" width="200"></div>
            <div class="about text-center"><h5>Dell XPS Surface</h5> <span>$1,245.89</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i> </span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4">
            <div class="text-center"><img src="https://i.imgur.com/X2AwTCY.jpg" width="200"></div>
            <div class="about text-center"><h5>Acer surface book 5.5</h5> <span>$2,999.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4"><span class="off bg-success">-5% OFF</span>
            <div class="text-center"><img src="https://i.imgur.com/QQwcBpF.png" width="200"></div>
            <div class="about text-center"><h5>Xps smart watch 5.0</h5> <span>$999.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4"><span class="off bg-warning">SALE</span>
            <div class="text-center"><img src="https://i.imgur.com/PSGrLdz.jpg" width="200"></div>
            <div class="about text-center"><h5>Acer surface book 8.5</h5> <span>$3,999.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4">
            <div class="text-center"><img src="https://i.imgur.com/m22OQy9.jpg" width="200"></div>
            <div class="about text-center"><h5>Tyko Running shoes</h5> <span>$99.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product py-4">
            <div class="text-center"><img src="https://i.imgur.com/OdRSpXG.jpg" width="200"></div>
            <div class="about text-center"><h5>Dell surface book 5</h5> <span>$1,999.99</span></div>
            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
              <button class="btn btn-primary text-uppercase">Add to cart</button>
              <div class="add"><span class="product_fav"><i class="fa-solid fa-heart fa-2xl"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
