
.card {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
  background-color: #f0f0f0;
}

/* Style the card image */
.card-img-top {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Style the card body */
.card-body {
  padding: 10px;
  background-color: #fff;
}


.card-text {
  font-size: 18px;
  color: #333;
}


.card-body p {
  text-align: center;
}


.card-body ul, .card-body ol {
  list-style: none;
  padding: 0;
}
