<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="container d-flex justify-content-center">
        <div class="navbar-nav">
          <a  class="nav-link mx-2" routerLink="/">Home</a>
          <a class="nav-link mx-2" routerLink="/products">Products</a>
          <a  class="nav-link mx-2" routerLink="/about-us">About Us</a>

          <div class="dropdown">
            <button class="dropbtn buton">Categories</button>
            <div class="dropdown-content">
              <a routerLink="/products/mobile">Mobile</a>
              <a href="#">TV</a>
              <a href="#">Laptop</a>
              <a href="#">Computer</a>
              <a href="#">Accessories</a>
              <a href="#">Home electronics</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
