.navbar-nav .nav-link {
  font-size: 12px;
 padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;

}

.navbar {
  background: linear-gradient(to right, #45607e, #202D3D, #45607e);
  height: 30px;
  border-bottom: 0.5px solid white;
  padding-right: 70px;
}


.navbar-nav {
  padding-right: 20px;
}

.buton{
  background: transparent;
  height: fit-content;
  border: none;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  padding-left: 40px;
  padding-top: 7.5px;
}

.dropdown {
  position: relative;
  display: inline-block;

}


.dropdown-content {
  display: none;
  position: absolute;
  font-style: normal;
  font-size: 13px;
  background-color: #a1c2f1;
  border: 1px solid #07234f;
  font-weight: bold;
  z-index: 1;
  padding-right: 40px;
  padding-left: 40px ;
}


.dropdown-content a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #000000;


}


.dropdown-content a:hover {
  transform: translate(-15%);


}


.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  transform: translate(-12%);


}



@media only screen and (max-width: 992px) {
  .navbar-nav {
    padding-right: 0px;
  }
}


@media only screen and (max-width: 992px) {
  .navbar-nav {
    padding-right: 0px;
  }
}
